  <div class="content-container">
    <%= form_for [category, artist], html: { multipart: true } do |f| %>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :body %>
              <%= f.text_area :body, class: 'form-control', rows: 20 %>
            </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :main_image %><br>
                <% if artist.main_image_file_name == nil  %>
                  <%= f.file_field :main_image %>
                <% else %>
                    Delete:
                    <%= f.check_box :delete_main %><br>
                    <%= image_tag(artist.main_image.url(:thumb)) %>
                <% end %>
              </div>
              <div class="form-group">
                <%= f.label :image_2 %><br>
                  <% if artist.image_2_file_name == nil  %>
                    <%= f.file_field :image_2 %>
                  <% else %>
                    Delete: <%= f.check_box :delete_image_2 %><br>
                    <%= image_tag(artist.image_2.url(:thumb)) %>
              <% end %>
              </div>
              <div class="form-group">
                <%= f.label :image_3 %><br>
                  <% if artist.image_3_file_name == nil  %>
                    <%= f.file_field :image_3 %>
                  <% else %>
                    Delete: <%= f.check_box :delete_image_3 %><br>
                    <%= image_tag(artist.image_3.url(:thumb)) %>
              <% end %>
              </div>
            <div class="form-group">
              <%= f.submit "Save", class: 'btn btn-success' %>
              <%= link_to "Cancel", category_path(category), class: 'btn btn-success' %>
            </div>
          </div>
    <% end %>
  </div>
</div>
