<div class="row contact-page">
  <div class="col-sm-6">
    <div class="text-container contact">
      <%= render partial: 'welcome/address'%>
    </div>
    <div class="content-container">
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Mzqwzw1l67n9pskWjsMdyERVkCY"  height="480"></iframe>
    </div>

  </div>
  <div class="col-sm-6">
    <div class="text-container">
      <%= render partial: 'welcome/email' %>
    </div>
    <div class="text-container">
      <%= render partial: 'welcome/social' %>
    </div>

    <div class="text-container">
      <%= render partial: 'welcome/hours' %>
    </div>

    <div class="text-container">
      <%= render partial: 'welcome/mailinglist' %>
    </div>
  </div>
</div>
