<!DOCTYPE html>
<html>
<head>
  <title>Sacred Art</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel=stylesheet>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to image_tag("sa_logo_small.png", :alt => "Sacred Art Logo", :class => "logo"), index_path %>
  <i class="ion-navicon-round dropdown-parent">
    <ul class="nav-links dropdown-body" id="dropdown-mobile">
      <li class="nav-li"><%= link_to "ABOUT", about_path %></li>
      <li class="nav-li"><%= link_to "ARTISTS" %></li>
      <li class="nav-li"><%= link_to "SHOP" %></li>
      <li class="nav-li"><%= link_to "NEW", new_path %></li>
      <li class="nav-li"><%= link_to "FAQ", faq_path %></li>
      <li class="nav-li"><%= link_to "SUBMISSIONS", submissions_path %></li>
      <li class="nav-li"><%= link_to "CONTACT", contact_path %></li>
    </ul>
  </i>
  <ul class="nav-links">
    <li class="nav-li"><%= link_to "ABOUT", about_path %></li>
    <li class="dropdown-parent nav-li"><%= link_to "ARTISTS" %>
      <div class="dropdown-body">
        <%= link_to "BEAUTY" %>
        <%= link_to "CERAMICS AND GLASS" %>
        <%= link_to "FIBER AND WEARABLES" %>
        <%= link_to "GRAPHIC ART" %>
        <%= link_to "HOME" %>
        <%= link_to "ILLUSTRATION" %>
        <%= link_to "JEWELRY" %>
        <%= link_to "PRINTMAKING" %>
        <%= link_to "SEASONAL" %>
        <%= link_to "STATIONARY AND PAPER" %>
        <%= link_to "WOODWORKING" %>
      </div>
    </li>
    <li class="nav-li"><%= link_to "SHOP" %></li>
    <li class="nav-li"><%= link_to "NEW", new_path %></li>
    <li class="nav-li"><%= link_to "FAQ", faq_path %></li>
    <li class="nav-li"><%= link_to "SUBMISSIONS", submissions_path %></li>
    <li class="nav-li"><%= link_to "CONTACT", contact_path %></li>
  </ul>
</nav>

<%= yield %>

<div class="footer">
  <div class="row">
  <div class="col-sm-4 footer-col">
    <p><strong>ADDRESS:</strong><br>
      4619 N. Lincoln Ave.<br>
      Chicago, IL 60625<br>
      (773) 728-2803</p>
  </div>
  <div class="col-sm-4 footer-col">
    <p><strong>SPRING HOURS</strong><br>
    Monday: By Chance or Appointment<br>
    Tuesday - Friday: noon - 7pm<br>
    Saturday - Sunday: 11am - 6pm
    </p>
  </div>
  <div class="col-sm-4 footer-col">
    <div id="mc_embed_signup">
      <form action="//sacredartstore.us15.list-manage.com/subscribe/post?u=dd6462c0ac2ea6e4fcc5f8a07&amp;id=7573d093b0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <p>GET OUR NEWSLETTER</p>
          <div class="mc-field-group">
            <label for="mce-EMAIL" class="sr-only">Email Address</label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
          </div>
          <div class="mc-field-group">
            <label for="mce-FNAME" class="sr-only">First Name </label>
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="First Name">
          </div>
          <div class="mc-field-group">
            <label for="mce-LNAME" class="sr-only">Last Name </label>
            <input type="text" value="" name="LNAME" class="" id="mce-LNAME" placeholder="Last Name">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dd6462c0ac2ea6e4fcc5f8a07_7573d093b0" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn"></div>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>

</body>
</html>

