<!DOCTYPE html>
<html>
<head>
  <title>Sacred Art</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel=stylesheet>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to image_tag("sa_logo_small.png", :alt => "Sacred Art Logo", :class => "logo"), index_path %>
  <i class="ion-navicon-round dropdown-parent">
    <ul class="nav-links dropdown-body" id="dropdown-mobile">
      <li class="nav-li"><%= link_to "ABOUT", about_path %></li>
      <li class="nav-li"><%= link_to "ARTISTS" %></li>
      <li class="nav-li"><%= link_to "SHOP" %></li>
      <li class="nav-li"><%= link_to "NEW", new_path %></li>
      <li class="nav-li"><%= link_to "FAQ", faq_path %></li>
      <li class="nav-li"><%= link_to "SUBMISSIONS", submissions_path %></li>
      <li class="nav-li"><%= link_to "CONTACT", contact_path %></li>
    </ul>
  </i>
  <ul class="nav-links">
    <li class="nav-li"><%= link_to "ABOUT", about_path %></li>
    <li class="dropdown-parent nav-li"><%= link_to "ARTISTS" %>
      <div class="dropdown-body">
        <%= link_to "BEAUTY" %>
        <%= link_to "CERAMICS AND GLASS" %>
        <%= link_to "FIBER AND WEARABLES" %>
        <%= link_to "GRAPHIC ART" %>
        <%= link_to "HOME" %>
        <%= link_to "ILLUSTRATION" %>
        <%= link_to "JEWELRY" %>
        <%= link_to "PRINTMAKING" %>
        <%= link_to "SEASONAL" %>
        <%= link_to "STATIONARY AND PAPER" %>
        <%= link_to "WOODWORKING" %>
      </div>
    </li>
    <li class="nav-li"><%= link_to "SHOP" %></li>
    <li class="nav-li"><%= link_to "NEW", new_path %></li>
    <li class="nav-li"><%= link_to "FAQ", faq_path %></li>
    <li class="nav-li"><%= link_to "SUBMISSIONS", submissions_path %></li>
    <li class="nav-li"><%= link_to "CONTACT", contact_path %></li>
  </ul>
</nav>

<%= yield %>

<div class="footer">
  <div class="row">
  <div class="col-sm-4 footer-col">
    <%= render partial: 'welcome/address' %>
    <%= render partial: 'welcome/social' %>
  </div>
  <div class="col-sm-4 footer-col">
    <%= render partial: 'welcome/hours' %>
  </div>
  <div class="col-sm-4 footer-col">
    <%= render partial: 'welcome/mailinglist' %>
  </div>
  </div>
</div>
<script type="text/javascript" src="path/to/instafeed.min.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-22905850-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>

